# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*env
*.env
.env.local
backend/intelligence/train_eegs
backend/hms_backend/__pycache__
backend/intelligence/models/RandomForest/__pycache__
train_eegs.zip
train_spectrograms.zip
Todo.txt
.bolt/config.json
.bolt/prompt
test_eegs